.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

#divLogin, #contInfoProd {
  background-color: #ffff;
}

body {
  
  background-image: url(img/fondo.png);
  
  background-repeat: repeat;

  background-size: 400px;
  
  background-color: rgb(248, 249, 250);
  
}
.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#cover {
  width: 35%;
}

.sombra {
  box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.74);  
  border-radius: 10px;
}

.contenedor-producto {
  background-color: rgb(248, 249, 250);
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


/* Estilos titulo listado de autos */

.titulo {
  font-family: raleway;
}

/* Fin Estilos titulo listado de autos */

/* Estilos listado de autos */

.contenedor-producto {
  font-family: raleway;
  color: rgba(0, 0, 0, 0.658);
  display: flex;
  padding: 1em;
  border: 1px solid grey;

}

.contenedor-producto h3 {
  color: black;
}

.contenedor-imagen {
  width: 40%;
}

.imagen-producto {
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  transition: transform 0.2s;

}

.imagen-producto:hover {
  transform: scale(1.03);
}


.contenedor-producto:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.info-producto {
  padding: 0 0 0 1.3rem;
  width: 100%;
  display: flex;
  place-content: space-between;
  text-align: start;
}

#salir {
    font-weight: bold;
    border: 0;
    background-image: linear-gradient(
        150deg,
        #35353679,
        orange,
        rgb(90,90,90)
    );
    border-radius: 5px;
    color: #000000;
    display: flex;
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
    transition: .3s;
}
#salir span {
    background-color: #00000023;
    padding: 8px 12px;
    border-radius: 12px;
    transition: .5s;
}
#salir:hover span {
    background: none;
}
#salir:active {
    transform: scale(0.5);
}

#user {
  color: rgb(253, 182, 50);
}

#grupo-botones-1 {
  margin-right: 0.5%;
}

#grupo-botones-2 {
  margin-right: -1.65%;
}

#buscar:focus {
  outline: none;
}

.buscando{
  display: none;
}

.img-thumbnail:hover {
  transform: scale(1.03);
}

.img-thumbnail {
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  transition: transform 0.2s;
}

#contenedor-producto{
  font-family: raleway;
}

.imagen-info{
  border-radius: 10%;
  width: 100%;
}

.contenedor-imagen-info{
  border: 1px solid gray;
  margin: 5px;
  transition: 0.3s;
  border-radius: 10%;
}

.contenedor-imagen-info:hover{
  transform: scale(1.2);
  border-radius: 10%;
  cursor: crosshair;
  filter: contrast(120%);
}

.estrellas{
  display: flex;
  margin-top: -10px;
  flex-direction:row-reverse;
  float: left;
}
.estrellas>input{
  display:none;
}

.estrellas>label{
  position: relative;
  width: 19px;
  font-size: 25px;
  color:rgb(236, 167, 17);
  cursor: pointer;
}

.estrellas>label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.estrellas>label:hover:before,
.estrellas>label:hover~label:before {
  opacity: 1 !important;
}
.estrellas>input:checked~label:before {
  opacity: 1;
}


